::ng-deep .currency-select {
  .mat-mdc-form-field {
    width: 90px;
  }
}

.converter {
  color: white;

   &__title {
     margin-bottom: 24px;
     font-size: 42px;
     font-weight: 800;
     padding-left: 30px;
     line-height: 50px;
     &::after {
       color: rgba(0, 185, 255);
       content: ".";
     }
   }

  &__wrapper {
    background: white;
    padding: 40px 20px;
    box-shadow: 0 4px 29px rgb(0 0 0 / 10%);
    border-radius: 2px;
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__hint {
    color: rgba(93, 112, 121);;
  }
}
