@import 'src/styles/abstracts/functions';

// base colors

$primary: (
	'DarkViolet': #715aa3,
	'Aquamarine': #007d67,
);
$secondary: (
	'DeepBlue': #073b4c,
	'DeepBlue-800': #37606e,
	'RoofTerracotta': #a94442,
	'Cerise': #d9365d,
);
$neutral: (
	'EarthGrey': #63666a,
	'Selago': #f5f4f5,
	'White': #ffffff,
);

$colors: map-collect($primary, $secondary, $neutral);
