@import '~normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  background: rgba(55, 81, 126, 0.9);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin-block-start: unset;
  margin-block-end: unset;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
