.header {
  position: sticky;
  margin-bottom: 32px;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  background: rgba(46, 67, 105);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  color: white;
  line-height: 22px;
  flex-wrap: wrap;

  &__title {
    letter-spacing: 0.7px;
    font-weight: 600;
    font-size: 20px;
  }

  &__date {
    font-weight: 600;
    font-size: 14px;

    span {
      font-weight: 200;
    }
  }

  &__rates {
    display: flex;
    flex-wrap: wrap;
  }

  &__rate {
    font-size: 14px;
    display: flex;
    gap: 7px;
    letter-spacing: 1.2px;
    &:first-child {
      margin-right: 32px;
    }

    span {
      font-weight: 600;
    }
  }
}
